<!DOCTYPE html>
<html>
<head>
    <title>Map Project</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
    <div id="mapContainer">
        <div id="map"></div>
        <button id="saveButton" class="button"><i class="fas fa-save"></i> Noktayı Kaydet</button>
    </div>
    <div>
        <div id="pointListContainer">
            <h2>Kaydedilen Noktalar</h2>
            <div id="pointList"></div>
        </div>
        <div class="buttonContainer">
            <a id="downloadButton" href="#" download="data.json" class="button"><i class="fas fa-download"></i> İndir</a>
        </div>
    </div>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="/js/app.js"></script>
</body>
</html>
