body {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    margin: 0;
    padding: 0;
}

#mapContainer {
    position: relative;
    background-color: #f2f2f2;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 4px;
}

#map {
    height: 83vh;
    width: 100%;
}

#saveButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 0 auto;
}

    #saveButton:hover {
        background-color: #45a049;
    }

#pointListContainer {
    border: 1px solid #ccc;
    text-align: center;
    padding: 10px;
    height: fit-content;
    max-height: 80vh;
    overflow-y: auto;
    background-color: #f9f9f9;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#pointList {
    margin-top: 10px;
}

.listItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

    .listItem:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

.deleteButton {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .deleteButton:hover {
        background-color: #d32f2f;
    }

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .button:hover {
        background-color: #45a049;
    }
